[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
crispy-bootstrap5 = "*"
django = "*"
django-crispy-forms = "*"
django-environ = "*"
django-htmx = "*"
django-redis = "*"
django-render-block = "*"
django-storages = "*"
gunicorn = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
whitenoise = "*"

[dev-packages]
ipdb = "*" # https://github.com/gotcha/ipdb
mypy = "*" # https://github.com/python/mypy
django-stubs = "*" # https://github.com/typeddjango/django-stubs
djangorestframework-stubs = "*" # https://github.com/typeddjango/djangorestframework-stubs
pytest = "*" # https://github.com/pytest-dev/pytest
pytest-sugar = "*" # https://github.com/Frozenball/pytest-sugar
flake8 = "*"  # https://github.com/PyCQA/flake8
flake8-isort = "*"  # https://github.com/gforcada/flake8-isort
coverage = "*"  # https://github.com/nedbat/coveragepy
black = "*"  # https://github.com/psf/black
pylint-django = "*"  # https://github.com/PyCQA/pylint-django
pylint-celery = "*"  # https://github.com/PyCQA/pylint-celery
pre-commit = "*"  # https://github.com/pre-commit/pre-commit
factory-boy = "*"  # https://github.com/FactoryBoy/factory_boy
django-debug-toolbar = "*"  # https://github.com/jazzband/django-debug-toolbar
django-extensions = "*" # https://github.com/django-extensions/django-extensions
django-coverage-plugin = "*"  # https://github.com/nedbat/django_coverage_plugin
pytest-django = "*" # https://github.com/pytest-dev/pytest-django

[requires]
python_version = "3.10"

[scripts]
manage = "python manage.py"
server = "python manage.py runserver"
